*{
    margin:0;
    padding:0;
    background-color: #191b1f;
    font-family: century gothic;
    color:white;
}
.header{
    height:50px;
    opacity: 0.8;
}
.header ul{
    display: flex;
    position: relative;
    top:15px;
    bottom:15px;
    justify-content: space-evenly;
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    font-size: large;
}
/*---------------Body---------------*/
img{
    width:100% ;
}
#ul1 {
    list-style-type: none;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
      
#li1 a {
    text-decoration: none;
    border-bottom: 1px solid #1e2125;
}
#li1 a:hover {
    background-color: #555;
}


#Rreshti{
    display: flex;
    flex-direction: row;
}
#Produkti{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    Width:200px;
    height:300px;
    text-align:center;
    font-size:10px;
    padding-left: 15%;
    padding-top: 3%;
}
#p2{
    font-style: italic;
    color:rgb(211, 195, 195);
}
#pp{
    text-align: center;
    width: 62%;
    padding-left:19%;
    padding-top: 100px;
}
h4{
    color:rgb(231, 220, 220);
    font-size: 40px;
    text-align: center;
    font-style: italic;
    padding-top: 80px;
}

/*--------------Footer-------------*/

.footer{
    display: flex;
    color: white;
    padding-top: 100px;
    padding-left:6%;
    padding-bottom: 50px;
}
.main-list{
    display: flex;
    list-style: none;
}
.inner-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    margin-left:150px;
}
.footer ul li img{
    width:120px;
    height:30px;
}
#hr-separate{
    width:80%;
    margin-top:100px;
    margin-left: 150px;
}
/*---------------------------*/
.socials{
    display: flex;
    justify-content: center;
    padding:30px;
}
.socials img{
    width:50px;
    height:50px;
}
/*----------Responsive per iPhone X ---------*/
@media only screen and (max-width:400px){
    *{
        font-size: xx-small;
    }
    img{
        height: 280px;
        width: auto ;
    }
    .Accessories{
        flex-direction: column;
    }
    #ul1 {
        list-style-type: none;
        margin-top: 20px;
        padding-left: 15px;
    }
    #pp{
        text-align: center;
        width: 330px;
        padding-left: 40px;
        padding-top: 40px;
        font-size: xx-small;
    }
    h4 {
        color: rgb(231, 220, 220);
        font-size: 25px;
        text-align: center;
        font-style: italic;
        padding-top: 80px;
    }
    p{
        font-size: xx-small;
        padding-top: 5px;
    }
    #Produkti{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        Width: 250px;
        height: 450px;
        text-align:center;
        font-size:10px;
        padding-left: 10%;
        padding-top: 10%;
    }
    #Produkti img{
        width: auto;
        height: 150px;
    }
    #Rreshti {
        display: flex;
        flex-direction: row;
        padding-right: 15px;
    }
    .main-ul li{
        font-size: xx-small;
    }
    .footer{
        padding:0;
    }
    #hr-separate{
        margin-left: 40px;
        margin-top:0;
    }
    
    .footer ul li img{
        width:40px;
        height:15px;
    }
    .first-footer-ul li:nth-child(2){
        display: none;
    }
    .main-list{
        margin-left: 15px;
        font-size: xx-small;
    }
    .socials img{
        width: 30px;
        height:30px;
    }
}

/*----------Responsive per iPad ---------*/
@media only screen and (min-width:760px) and (max-width:780px){
    *{
        font-size: small;
    }
    img{
        padding-left: 10px;
    }
    #ul1 {
        padding-left: 50px;
    }
    #pp {
        text-align: center;
        width: 660px;
        padding-left: 150px;
        padding-top: 100px;
    }
    #Rreshti {
        padding-right: 100px;
    }
    .main-ul img{
        width:130px;
        height:130px;
    }
    .footer{
        padding:40px;
    }
    .inner-list{
        margin-left: 40px;
    }
    #hr-separate{
        margin-left: 10%;
    }
    .socials img{
        height: 40px;
        width: 40px;
    }
}