*{
    margin:0;
    padding:0;
    background-color: #191b1f;
    font-family: century gothic;
}
.header{
    height:50px;
    opacity: 0.8;
}
.header ul{
    display: flex;
    position: relative;
    top:15px;
    bottom:15px;
    justify-content: space-evenly;
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color:white;
    font-size: large;
}
.main{
    display: flex;
    padding-top:30px;
    padding-left:10%;
}
/*-----------------*/
.box1{
    width:45%;
}
.box1 ul li{
    color: white;
    margin:30px;
    list-style: none;
}
.box1 ul li:first-child{
    font-size: 30pt;
}
.box1 img{
    width: 220px;
    height:220px;
    border-radius: 50%;
}
/*----------------*/
form{
    display: flex;
    flex-direction: column;
    width: 45%;;
    padding-top: 30px;
    padding-left:100px;
}
form input{
    width:500px;
    height:30px;
    border:none;
    border-bottom:1px solid white;
    margin:20px;
    color: white;
}
form label{
    margin:20px;
    color: white;
}
#submit{
    width:150px;
    background-color: white;
    height:50px;
    font-size:large;
    color:black;
}
:placeholder-shown{
    color:white;
}
/*-----------------------*/
.footer{
    display: flex;
    color: white;
    padding-top: 100px;
    padding-left:6%;
    padding-bottom: 50px;
}
.main-list{
    display: flex;
    list-style: none;
}
.inner-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    margin-left:150px;
}
.footer ul li img{
    width:120px;
    height:30px;
}
#hr-separate{
    width:80%;
    margin-top:100px;
    margin-left: 150px;
}
/*---------------------------*/
.socials{
    display: flex;
    justify-content: center;
    padding:30px;
}
.socials img{
    width:50px;
    height:50px;
}

/*Responsive for IPhone X*/
@media only screen and (max-width:400px){
    *{
        font-size: small;
    }
    .main{
        flex-direction: column;
        padding:30px;
    }
    .box1{
        width:auto;
    }
    .box1 img{
        height: auto;
        width:120px;
    }
    form input{
        width:auto;
        margin:15px;
    }
    form label{
        margin:15px;
    }
    form{
        width:auto;
        padding-left:0;
    }
    #submit{
        height:40px;
        width:130px;
        margin-top: 40px;
    }
    .footer{
        padding:0;
    }
    #hr-separate{
        margin-left: 40px;
        margin-top:0;
    }
    .inner-list{
        margin-left: 10px;
        margin-top: 15px;
    }
    .inner-list li {
        font-size: xx-small;
    }
    .footer ul li img{
        width:40px;
        height:15px;
    }
    .first-footer-ul li:nth-child(2){
        display: none;
    }
    .main-list{
        margin-left: 15px;
    }
    .socials img{
        width: 30px;
        height:30px;
    }
}

/*Responsive for IPad*/
@media only screen and (min-width:750px) and (max-width:800px){
    *{
        font-size: small;
    }
    .box1 ul li h1{
        font-size: xx-large;
    }
    .box1 img{
        height:150px;
        width:auto;
    }
    form{
        width: auto;
        padding-left: 10px;
    }
    form input{
        width:250px;
        margin:10px;
    }
    #submit{
        height:40px;
        width:130px;
        margin-top:40px;
        font-size: medium;
    }
    .footer{
        padding:40px;
    }
    .inner-list{
        margin-left: 40px;
    }
    #hr-separate{
        margin-left: 10%;
    }
    .socials img{
        height: 40px;
        width: 40px;
    }
}