*{
    margin:0;
    padding:0;
    background-color: #191b1f;
    font-family: century gothic;
}
.header{
    height:50px;
    opacity: 0.8;
}
.header ul{
    display: flex;
    position: relative;
    top:15px;
    bottom:15px;
    justify-content: space-evenly;
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color:white;
    font-size: large;
}
/*----------------------*/
.Cosmetics{
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 30px;
}
h3{
    color:white;
    font-family:Chiller;
    font-size: 50px;
    text-align: center;
    font-style: italic;
    padding-top: 30px;
}
#ul1 {
    border: white;
    list-style-type: none;
    margin-top: 70px;

}
      
#li1 a {
    display: block;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
    font-family: cavolini;
}
#li1 a:hover {
    background-color: #555;
    color: white;
}
/*------Bath&Body*/

#BathBody{
    display: flex;
    flex-direction: column;
}
#Rreshti{
    display: flex;
    flex-direction: row;
}
#Produkti{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    Width:200px;
    height:300px;
    text-align:center;
    font-size:10px;
    color:white;
    padding-left: 150px;
    padding-top: 100px;
}
#p2{
    font-style: italic;
    color:rgb(211, 195, 195);
}








/*----------------------*/
.footer{
    display: flex;
    color: white;
    padding-top: 100px;
    padding-left:10%;
    padding-bottom: 50px;
}
.main-list{
    display: flex;
    list-style: none;
}
.inner-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    margin-left:150px;
}
.footer ul li img{
    width:120px;
    height:30px;
}
#hr-separate{
    width:80%;
    margin-top:100px;
    margin-left: 150px;
}
/*---------------------------*/
.socials{
    display: flex;
    justify-content: center;
    padding:30px;
}
.socials img{
    width:50px;
    height:50px;
}