*{
    margin:0;
    padding:0;
    background-color: #191b1f;
    font-family: century gothic;
    color:white;
}
.header{
    height:50px;
    opacity: 0.8;
}
.header ul{
    display: flex;
    position: relative;
    top:15px;
    bottom:15px;
    justify-content: space-evenly;
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    font-size: large;
}
/*----------------------*/
.Cosmetics{
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 30px;
    
}
img{
    height: 300px;
    width: 100% ;
}

.Cosmetics img{
    padding-top: 50px;
    padding-left: 200px;
    width: 500px;
    height: 330px;
    opacity: 0.6;
}
/*h3{
    font-family:Chiller;
    font-size: 60px;
    text-align: center;
    font-style: italic;
    padding-top: 30px;
}*/
#ul1 {
    list-style-type: none;
    margin-top: 70px;
    padding-left: 100px;
}
      
#li1 a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-family: cavolini;
    font-style: italic;
    border-bottom: 1px solid #1e2125;
}
#li1 a:hover {
    background-color: #555;
}
/*------Bath&Body*/

#BathBody{
    display: flex;
    flex-direction: column;
}
#Rreshti{
    display: flex;
    flex-direction: row;
}
#Produkti{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    Width:200px;
    height:300px;
    text-align:center;
    font-size:10px;
    padding-left: 15%;
    padding-top: 10%;
}
#p2{
    font-style: italic;
    color:rgb(211, 195, 195);
}
h4{
    color:rgb(231, 220, 220);
    font-size: 40px;
    text-align: center;
    font-style: italic;
    padding-top: 70px;
}

/*----------------------*/
.footer{
    display: flex;
    color: white;
    padding-top: 100px;
    padding-left:6%;
    padding-bottom: 50px;
}
.main-list{
    display: flex;
    list-style: none;
}
.inner-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    margin-left:150px;
}
.footer ul li img{
    width:120px;
    height:30px;
}
#hr-separate{
    width:80%;
    margin-top:100px;
    margin-left: 150px;
}
/*---------------------------*/
.socials{
    display: flex;
    justify-content: center;
    padding:30px;
}
.socials img{
    width:50px;
    height:50px;
}

/*----------Responsive per iPhone X ---------*/
@media only screen and (max-width:400px){
    *{
        font-size: xx-small;
    }
    img{
        height: 320px;
        width: auto ;
    }
    .Cosmetics{
        flex-direction: column;
    }
    #ul1 {
        list-style-type: none;
        margin-top: 20px;
        padding-left: 30px;
    }
    p{
        font-size: large;
    }
    .Cosmetics img{
        padding-top: 50px;
        padding-left:10px;
        width:380px;
        height: 250px;
        opacity: 0.6;
       
    }
    #Rreshti {
        display: flex;
        justify-content:space-between;
        text-align:center;
    }
    #Produkti{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        Width:130px;
        height:190px;
        text-align:center;
        font-size:10px;
        padding-left: 5%;
        padding-top: 10%;
    }
    .main-ul li{
        font-size: xx-small;
    }
    .footer{
        padding:0;
    }
    #hr-separate{
        margin-left: 40px;
        margin-top:0;
    }
    
    .footer ul li img{
        width:40px;
        height:15px;
    }
    .first-footer-ul li:nth-child(2){
        display: none;
    }
    .main-list{
        margin-left: 15px;
        font-size: xx-small;
    }
    .socials img{
        width: 30px;
        height:30px;
    }
}

/*----------Responsive per iPad ---------*/
@media only screen and (min-width:760px) and (max-width:780px){
    *{
        font-size: small;
    }
    img{
        padding-left: 10px;
    }
    #ul1 {
        list-style-type: none;
        margin-top: 70px;
        padding-left: 70px;
        font-size: 15px;
    }
    .Cosmetics img {
        padding-top: 50px;
        padding-left: 200px;
        width: 500px;
        height: 350px;
        opacity: 0.6;
    }
    h4{
        padding-left: 200px;
    }
    p{
        font-size: 10px;
    }
    #Produkti {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        Width: 200px;
        height: 300px;
        text-align: center;
        font-size: 12px;
        padding-left: 100px;
        padding-top: 10%;
    }
    .main-ul img{
        width:130px;
        height:130px;
    }
    
    .footer{
        padding:40px;
    }
    .inner-list{
        margin-left: 40px;
    }
    #hr-separate{
        margin-left: 10%;
    }
    .socials img{
        height: 40px;
        width: 40px;
    }
}