*{
    margin:0;
    padding:0;
    background-color: #191b1f;
    font-family: century gothic;
}
.header{
    height:50px;
    opacity: 0.8;
}
.header ul{
    display: flex;
    position: relative;
    top:15px;
    bottom:15px;
    justify-content: space-evenly;
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color:white;
    font-size: large;
}
/*--------------------------*/
.first-main, .second-main, .third-main, .fourth-main, .fifth-main, .sixth-main{
    color:white;
    display: flex;
    flex-direction: column;
    padding-left: 17%;
    padding-right: 15%;
    padding-top:20px;
}
p{
    text-align: center;
    font-size: xx-large;
    padding-top:20px;
}
.main-ul{
    display: flex;
    list-style: none;
}
.main-ul li{
    padding: 50px;
}
.main-ul img{
    height:150px;
    width:150px;
    margin-bottom: 10px;
}
.cmimi{
    margin-top:10px;
}
/*----------------------*/
.footer{
    display: flex;
    color: white;
    padding-top: 100px;
    padding-left:10%;
    padding-bottom: 50px;
}
.main-list{
    display: flex;
    list-style: none;
}
.inner-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    margin-left:150px;
}
.footer ul li img{
    width:120px;
    height:30px;
}
#hr-separate{
    width:80%;
    margin-top:100px;
    margin-left: 150px;
}
/*---------------------------*/
.socials{
    display: flex;
    justify-content: center;
    padding:30px;
}
.socials img{
    width:50px;
    height:50px;
}