*{
    margin:0;
    padding:0;
    background-color: #191b1f;
    font-family: century gothic;
}
.header{
    height:50px;
    opacity: 0.8;
}
.header ul{
    display: flex;
    position: relative;
    top:15px;
    bottom:15px;
    justify-content: space-evenly;
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color:white;
    font-size: large;
}
/*--------------------------*/
#titulli{
    text-align: center;
    color:white;

}
.ul-title{
    font-weight: bold;
}
.ul1{
    list-style: none;
    margin-top: 70px;
    padding-left: 8%;
    width:220px;
}
#insertProd{
    background-color: white;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    margin-left:15px;
}
.li1{
    color:white;
}
.li1 a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color:white;
}
.li1 a:hover {
    background-color: #555;
    color: white;
    width:220px;
}
.box{
    border:1px solid white;
    border-right: none;
    height:170px;
    margin-top:8%;
    color:white;
    width:35%;
    margin-left: 5%;
}
.text{
    padding:20px;
    font-size: small;
}
.skincare{
    display: flex;
    padding-bottom:20px;
}
.skincare img{
    width:450px;
    height:300px;
    margin-top: 50px;
    border:1px solid white;
    padding:20px;
    border-style: dashed;
}
#shto{
    background-color: white;
    width: 130px;
    height: 30px;
    margin-top: 5px;
    font-size: x-small;
}
/*-------------------*/
.first-main, .second-main, .third-main, .fourth-main, .fifth-main, .sixth-main{
    color:white;
    display: flex;
    flex-direction: column;
    padding-top:20px;
    align-items: center;
    font-size:x-small;
}
.main-ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.main-ul li{
    padding: 35px;
    width:250px;
    text-align: center;
    font-size: small;
}
p{
    font-size: xx-large;
    text-align: center;
    padding:10px;
}
/*----------------------*/
.footer{
    display: flex;
    color: white;
    padding-top: 100px;
    padding-left:6%;
    padding-bottom: 50px;
}
.main-list{
    display: flex;
    list-style: none;
}
.inner-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    margin-left:150px;
}
.footer ul li img{
    width:120px;
    height:30px;
}
#hr-separate{
    width:80%;
    margin-top:100px;
    margin-left: 150px;
}
/*---------------------------*/
.socials{
    display: flex;
    justify-content: center;
    padding:30px;
}
.socials img{
    width:50px;
    height:50px;
}

/*Responsive for IPhoneX*/
@media only screen and (max-width:400px){
    *{
        font-size: xx-small;
    }
    .skincare{
        flex-direction: column;
    }
    .ul1{
        margin-top:30px;
        margin-bottom: 30px;
        padding-left: 30%;
    }
    p{
        font-size: large;
    }
    .box{
        width: 250px;
        height: auto;
        border-bottom:none;
        border-right:1px solid white;
        margin-left: 60px;
    }
    .skincare img{
        margin-top: 0;
        width:250px;
        height: auto;
        margin-left: 40px;
    }
    .footer{
        padding:0;
    }
    #hr-separate{
        margin-left: 40px;
        margin-top:0;
    }
    .inner-list{
        margin-left: 10px;
        margin-top: 15px;
    }
    .footer ul li img{
        width:40px;
        height:15px;
    }
    .first-footer-ul li:nth-child(2){
        display: none;
    }
    .main-list{
        margin-left: 15px;
    }
    .socials img{
        width: 30px;
        height:30px;
    }
}

/*Responsive for IPad*/
@media only screen and (min-width:750px) and (max-width:800px){
    *{
        font-size: small;
    }
    .ul1{
        padding-left: 30px;
        width: auto;
    }
    .box{
        height:210px;
        width:230px;
        margin-left:30px;
    }
    .text{
        font-size: x-small;
    }
    .skincare img{
        width:250px;
        height:auto;
        margin-top:30px;
    }
    p{
        font-size: large;
    }
    .footer{
        padding:40px;
    }
    .inner-list{
        margin-left: 40px;
    }
    #hr-separate{
        margin-left: 10%;
    }
    .socials img{
        height: 40px;
        width: 40px;
    }
}