<!DOCTYPE html>
    <head>
        <title>Cosmetics</title>
        <link rel="stylesheet" href="../style/Cosmetics.css">
    </head>
    <body>
        <header>
            <div class="header">
                <ul>
                    <li><a href="index.php">Home</a></li>
                    <li><a href="index.php">About Us</a></li>
                    <li><a href="contactUs.php">Contact Us</a></li>
                    <li><a href="loginRegister.php">LogIn/Register</a></li>
                </ul>
            </div>
        </header>


        <main>
            <h3>Cosmetics</h3>
            <div class="Cosmetics">
                <ul id="ul1">
                <li id="li1"><a href="#BathBody">Bath & Body</a></li>
                <li id="li1"><a href="#LipGloss">Lip Gloss</a></li>
                <li id="li1"><a href="Lip">Lip</a></li>
                <li id="li1"><a href="Foundation">Foundation</a></li>
                <li id="li1"><a href="Lash Mascara">Lash Mascara</a></li>
                <li id="li1"><a href="Parfume">Parfume</a></li>
                <li id="li1"><a href="Powder">Powder</a></li>
                <li id="li1"><a href="Organic">Organic</a></li>
            </ul>
            </div>
            <div id="BathBody">
                <h4>Bath & Body </h4>
                <div id="Rreshti">
                <div id="Produkti">
                    <img src="../images/bb1.png">
                    <p>Body Lotion FAIRNESS</p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 8.00 $</p>
                </div>

                <div id="Produkti">
                    <img src="../images/bb2.jpeg">
                    <p>Lotion FAIRNESS</p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 6.00 $</p>
                </div>

                <div id="Produkti">
                    <img src="../images/bb3.jpg">
                    <p>Bubble Bath</p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 4.50 $</p>
                </div>
                </div>

                <div id="Rreshti">
                <div id="Produkti">
                    <img src="../images/bb4.png">
                    <p>Feminelle Special Care</p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 5.00 $</p>
                </div>

                <div id="Produkti">
                    <img src="../images/bb5.png">
                    <p>Bubble Bath Sweetheart</p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 9.00 $</p>
                </div>

                <div id="Produkti">
                    <img src="../images/bb6.jpg">
                    <p>Body & Mind </p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 9.00 $</p>
                </div>
                </div>

                <div id="Rreshti">
                <div id="Produkti">
                    <img src="../images/bb7.jpg">
                    <p>Silk Beauty - Body Wash</p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 5.00 $</p>
                </div>

                <div id="Produkti">
                    <img src="../images/bb8.jpg">
                    <p>Milk & Honey - Body Wash </p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 5.60 $</p>
                </div>

                <div id="Produkti">
                    <img src="../images/bb9.jpg">
                    <p>Tenderly - Body Spray </p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 4.00 $</p>
                </div>
                </div>

                <div id="Rreshti">
                <div id="Produkti">
                    <img src="../images/bb10.jpg">
                    <p>Coconut & Ricemilk Shampoo </p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 8.00 $</p>
                </div>

                <div id="Produkti">
                    <img src="../images/bb11.jpg">
                    <p>Milk Honey Gold</p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 7.90 $</p>
                </div>

                <div id="Produkti">
                    <img src="../images/bb12.jpg">
                    <p>Love Nature - Shower gel</p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 7.00 $</p>
                </div>
                </div>
            </div>

           

            <div id="LipGloss">
                <h4>Lip Gloss</h4>
                <div id="Rreshti">
                <div id="Produkti">
                    <img src="../images/lg1.Jpeg">
                    <p>Nude Lip Gloss</p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 3.00 $</p>
                </div>

                <div id="Produkti">
                    <img src="../images/lg2.jpg">
                    <p>Pink Lip Gloss</p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 3.00 $</p>
                </div>

                <div id="Produkti">
                    <img src="../images/lg3.Jpeg">
                    <p>Purple Lip Gloss</p>
                    <p id="p2"> Cosmetics</p>
                    <p>çmimi: 3.00 $</p>
                </div>
                </div>

       
            </div>
        </main>




        <footer>
            <div class="footer">
                <ul class="main-list">
                    <ul class="inner-list">
                        <li><img src="../images/oriflameLogo.png"></li>
                        <li>COMPANY LOGO</li>
                    </ul>
                    <ul class="inner-list">
                        <li>WEEBLY THEMES</li>
                        <li>PRE-SALE FAQS</li>
                        <li>SUBMIT A TICKET</li>
                    </ul>
                    <ul class="inner-list">
                        <li>WEEBLY THEMES</li>
                        <li>PRE-SALE FAQS</li>
                        <li>SUBMIT A TICKET</li>
                    </ul>
                    <ul class="inner-list">
                        <li>ABOUT US</li>
                        <li>CONTACT US</li>
                        <li>AFFILIATES</li>
                        <li>RESOURCES</li>
                    </ul>
                </ul>
            </div>
            <div class="socials">
                <a href="https://www.instagram.com/"><img src="../images/insta-logo.png"></a>
                <a href="https://www.facebook.com/"><img src="../images/fb-logo.png"></a>
                <a href="https://www.twitter.com/"><img src="../images/twitter-logo.png"></a>
                <a href="https://www.youtube.com/"><img src="../images/yt-logo.png"></a>
            </div>
        
        </footer>
    </body>
</html>